/target
/.classpath
/.settings
/.project
/.idea/*
.DS_Store
/data
/.javaclasspath
*.swp
*~
\#*#
.codepro/

*.iml
.idea/.name
*.blob-*

new_ead.xsl

/db
/staging
/conf
doss.conf

/node/*
/node_modules/*
/web/assets/bundle.js.map
/web/assets/bundle.css.map
/.apt_generated/
/tmp/

