<div class="col-md-12" ng-controller="LeaseInfoController as leaseInfoCtrl">
    <div class="panel panel-default col-md-12">

        <div class="panel-body">
            <div class="row">
                <div class="pane panel-default col-md-4">
                    <div class="panel-heading"><strong>Lease Details</strong></div>
                    <table class="table table-bordered table-striped">

                        <tbody>
                        <tr>
                            <td>
                                <strong>Title</strong>
                            </td>
                            <td>
                                {{leaseInfoCtrl.leaseDto.lease.title}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Start Date</strong>
                            </td>
                            <td>
                                {{leaseInfoCtrl.leaseDto.lease.startDate | date: 'dd-MMM-yyyy'}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>End Date</strong>
                            </td>
                            <td>
                                {{leaseInfoCtrl.leaseDto.lease.endDate | date: 'dd-MMM-yyyy'}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Monthly Rental</strong>
                            </td>
                            <td>
                                {{leaseInfoCtrl.leaseDto.lease.monthlyRent | currency }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Lease Type</strong>
                            </td>
                            <td>
                                {{leaseInfoCtrl.leaseDto.lease.leaseLookup.description}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Bond</strong>
                            </td>
                            <td>
                                {{leaseInfoCtrl.leaseDto.lease.monthlyRent | currency }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Date Signed</strong>
                            </td>
                            <td>
                                {{leaseInfoCtrl.leaseDto.lease.dateSigned | date: 'dd-MMM-yyyy'}}
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

                <div class="pane panel-default col-md-8">
                    <div class="panel-heading"><strong>Rental Records</strong></div>
                    <table class="table table-bordered  table-striped col-md-12">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Date Paid</th>
                            <th>Payment Type</th>
                            <th>Amount Paid</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="rental in leaseInfoCtrl.leaseDto.rentals">
                            <td>{{rental.title}}</td>
                            
                            <td>{{rental.datePaid | date: 'dd-MMM-yyyy'}}</td>
                            <td>{{rental.paymentType.description | date: 'dd-MMM-yyyy'}}</td>
                            <td>{{rental.amount | currency}}</td>
                            <td>{{rental.description}}</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td colspan="2">
                                Cash Payment : {{leaseInfoCtrl.leaseDto.totalAmountOfCash}}
                            </td>
                            <td colspan="2">
                                Other Payment : {{leaseInfoCtrl.leaseDto.totalAmountOfBankTransfer}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div> <!--row-->

            <div class="row">
                <form class="form-horizontal" ng-submit="leaseInfoCtrl.addNewRentalPayment()">
                    <div class="pane panel-default col-md-12">
                        <div class="panel-heading"><strong>Add Rental Payment</strong></div>
                        <div class="panel-body">
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="newRentalDatePaid">
                                            Date Paid</label>
                                        <p class="input-group col-md-6">
                                            <input type="text" class="form-control"
                                                   id="newRentalDatePaid"
                                                   uib-datepicker-popup="{{leaseInfoCtrl.format}}"
                                                   ng-model="leaseInfoCtrl.leaseDto.newRental.datePaid"
                                                   is-open="leaseInfoCtrl.newRentalDatePaidPopup.opened"
                                                   datepicker-options="leaseInfoCtrl.dateOptions" ng-required="true"
                                                   close-text="Close" alt-input-formats="leaseInfoCtrl.altInputFormats"/>
                                            <span class="input-group-btn">
									<button type="button" class="btn btn-default"
                                            ng-click="leaseInfoCtrl.openNewRentalDatePaid()">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
                                        </p>

                                    </div>
                                </div>


                                <div class="col-md-4">
                                <div class="form-group">
                                <label class="control-label col-md-4" for="newRentalPaymentType">Amount</label>
                                    <input type="number" id="newPaymentAmount"
                                           class="col-md-6"
                                           ng-model="leaseInfoCtrl.leaseDto.newRental.amount"
                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"
                                           ng-min="0"
                                           required
                                    />
                                </div>
                                </div>
                                
                                <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="newRentalPaymentType">Payment Type</label>
                            <select class="col-md-6" id="newRentalPaymentType" 
                            ng-model="leaseInfoCtrl.leaseDto.newRental.paymentType"
                                    ng-options="type.description for type in leaseInfoCtrl.leaseDto.paymentTypes track by type.id"></select>
                        </div>
                    </div>
                            </div>

                            <div class="row">
                                
								<div class="form-group">
								 <label class="control-label col-md-2" for="newRentalDescription">Description</label>
                                                               
                                <input type="text"  class="col-md-8" id="newRentalDescription" 
                                ng-model="leaseInfoCtrl.leaseDto.newRental.description"
                                />
								</div>
                            </div>
                            
                            <div class="row">
                            <div class="form-group">
                            <input type="submit" value="Add Payment"/>
                            </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div><!--row-->
    </div>
</div>
</div>